

body.light-mode {
    background-color: #f3f3f3;
    color: #222;
}


body.light-mode .home-content h1 {
    color: #111;
}

body.light-mode .home-content h3 {
    color: #333;
}

body.light-mode .home-content p {
    color: #222;
}

body.light-mode .social-media a {
    color: #222;
}

body.light-mode .social-media a:hover {
    color: #3bbf0e; 
}


body.light-mode .btn {
    background-color: #3bbf0e;
    color: white;
}

body.light-mode .btn:hover {
    background-color: #34a60c;
}


body.light-mode .home-img img {
    box-shadow: 0 10px 25px rgba(0,0,0,0.35);
}


body.light-mode .carousel-paisagem img {
    border: 2px solid #3bbf0e;
}

body.light-mode .carousel h2 {
    color: #3bbf0e;
    text-shadow: 2px 2px 2px rgba(0,128,0,0.5);
    border-bottom: 1px solid #3bbf0e;
}


body.light-mode .services {
    background-color: #e9e9e9;
    color: #222;
}

body.light-mode .services h2 {
    color: #111;
    border-bottom: 1px solid #3bbf0e;
}


body.light-mode .services-container {
    background-color: #e9e9e9;
    color: #222;
}


body.light-mode .service-box {
    background-color: #ffffff;
    color: #222;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

body.light-mode .service-box:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}

body.light-mode .service-box h3 {
    color: #3bbf0e;
}


body.light-mode .theme-icon {
    color: #222;
}
