* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgba(0, 0, 0, 0.871);
    color: rgba(255, 255, 255, 0.711);
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 10%;
    flex-wrap: wrap;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 3rem;
    color: white;
    margin-bottom: 16px;
}

.home-content h3 {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.756);
    margin-bottom: 20px;
}

.home-content p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 30px;
}

.social-media {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}



.social-media a {
    font-size: 2rem;
    color: white;
    transition: color 0.3s ease;
}

.social-media a:hover {
    color: #59f212d9;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    background-color: #59f212d9;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #59f212d9;
}

.home-img {
    max-width: 400px;
    flex: 1;
    display: flex;
    justify-content: center;
}

.home-img img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 10px 25px black;
}

@media (max-width: 900px) {
    .home {
        flex-direction: column-reverse;
        padding: 50px 5%;
        text-align: center;
    }

    .home-content {
        max-width: 100%;
    }

    .social-media {
        justify-content: center;
    }

    .home-img {
        margin-bottom: 30px;
    }
}

.carousel-paisagem img{
    width: 900px;
    height: 900px;
    margin-left: auto;
    margin-right: auto;
}
.services-container {
  padding: 4rem 2rem;
  color: #fff;
  background-color: #1c1c1c; /* mesmo estilo do seu fundo */
  text-align: center;
}

.services-container h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #fff;
}

.service-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* ajusta automaticamente */
  gap: 1.5rem;
  justify-items: center;
}

.service-box {
  background-color: #2a2a2a;
  border-radius: 10px;
  padding: 1.5rem;
  width: 100%;
  max-width: 300px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.4);
  transition: transform 0.2s, box-shadow 0.2s;
}

.service-box:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0,0,0,0.6);
}

.service-box h3 {
  color: #00ff5f; /* verde que combina com o botão Currículo */
  margin-bottom: 0.5rem;
}
